body {        
    background-image:url('female-legs-silhouette-running-sunset-bay-area-300x200.jpg');
    background-size:cover;
    font-family:sans-serif;
}

.information {    
    height: 250px;
    width: 400px;
    font-size: 0.8em;
    overflow: auto;
    font-family:sans-serif;
    padding:10px;
}

.mainSection {
    margin-top: 100px;
margin-left: 30%;
background-color: #F5F5F5;
margin-right: 25%;
padding-left: 40px;
padding-top: 20px;
}

#divSearching {    
}

.raceImage {
    height:50px;
    width:50px;
}

.title {

}